
{% extends 'products/base.html' %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="container-fluid px-0">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed">
        <div class="container-fluid d-flex"> <a class="navbar-brand" href="#"></a>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation"> <a class="nav-link" id="phone-tab" data-toggle="tab" href="#home" role="tab" aria-controls="couch" aria-selected="true">Phones</a> </li>
                <li class="nav-item" role="presentation"> <a class="nav-link" id="pc-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">PC's</a> </li>
                <li class="nav-item" role="presentation"> <a class="nav-link" id="laptop-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Laptops</a> </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container-fluid mt-2 mb-5">
    <div class="products">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="d-flex justify-content-between p-3 bg-white mb-3 align-items-center"> <span class="font-weight-bold text-uppercase">All</span>
                    <div> <img src="https://img.icons8.com/windows/100/000000/list.png" width="30" /> <img src="https://img.icons8.com/ios-filled/100/000000/squared-menu.png" width="25" /> </div>
                </div>
                <div class="row g-3">
                    {% for product in products %}
                    <div class="col-md-4">
                        <div class="card"> <a href="{% url 'order' product.id %}"><img src="{{ product.image.url }}" class="card-img-top" width = "300" height = "400"></a>
                            <div class="card-body">
                                <div class="d-flex justify-content-between"> <span class="font-weight-bold">{{ product.name }}</span> <span class="font-weight-bold">{{ product.price }}</span> </div>
                                <p class="card-text mb-1 mt-1">{{ product.description }}</p>
                                <div class="d-flex align-items-center flex-row"> <img src="https://i.imgur.com/e9VnSng.png" width="20"> <span class="guarantee">{{ product.type }}</span> </div>
                            </div>
                            <hr>
                            <div class="card-body">
                                <div class="text-right buttons"> <button class="btn btn-outline-dark">add to wishlist</button> <button class="btn btn-dark">Add to cart</button> <a class="btn btn-light" href="{% url 'order' product.id %}">make an order</a> </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}