{% load static %}
<link href="{% static 'css/reg.css' %}" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="{% static 'js/reg.js"></script>
<!------ Include the above in your HEAD tag ---------->

<form method ='POST' action="">
  {% csrf_token %}
  <label>
    <p class="label-txt">ENTER YOUR NAME</p>
    {{ user.username }}
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">ENTER YOUR PASSWORD</p>
    {{ user.password1 }}
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">CONFIRM YOUR PASSWORD</p>
    {{ user.password2 }}
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <input type="submit" name="Submit">
</form>